* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

#body {
    width: 100% !important;
}

.sidebar {
    min-width: 6.5rem !important;
}

#sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 2;
}

.sidebar-toggled {
    width: 0rem !important;
    overflow-x: hidden;
}

.wrapper {
    width: 100% !important;
    overflow-x: hidden;
    height: fit-content;
}

.sidebar-toggled .nav-item a {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    border-radius: 8px;
    padding-top: 5px;

}

.sidebar-toggled .nav-item .navbar-brand .log-name {
    display: none;
}

.navbar-brand img {
    height: 56px;
    width: 56px;
    padding: 15px;
    border-radius: 8px;
    background-color: #5D5FEF;
}

.sidebar-toggled .wrapper #content {
    margin-left: 0rem !important;
}

.sidebar .wrapper #content {
    margin-left: 6.5rem !important;
}

@media screen and (max-width:767px) {
    .sidebar .nav-item a {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }

    .sidebar .nav-item .navbar-brand .log-name {
        display: none;
    }

    .sidebar .nav-item a,
    .sidebar-toggled .nav-item .navbar-brand .log-name {
        display: flex;
        width: 100%;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }

    .sidebar .nav-item .navbar-brand .log-name {
        display: none;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: max-content;
        border-radius: 0px;
        padding-top: 0px;

    }

    .navbar-brand img {
        height: 56px;
        width: 56px;
        border-radius: 2px;
        background-color: #5D5FEF;
    }

    .navbar-brand {
        margin: 0px;
    }

    .sidebar-toggled section {
        display: none;
    }

    .sidebar section {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .sidebar {
        width: 14rem !important;

    }

    .sidebar-toggled {
        width: 6.5rem !important;
    }

    .sidebar .wrapper #content {
        margin-left: 14rem !important;
    }

    .sidebar-toggled .wrapper #content {
        margin-left: 6.5rem !important;
    }

    .sidebar-toggled .nav-item a,
    .sidebar-toggled .nav-item .navbar-brand .log-name {
        display: flex;
        width: 100%;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
    }

    .sidebar-toggled .nav-item .navbar-brand .log-name {
        display: none;
    }
}

.sidebar-toggled section {
    display: none;
}

.nav-item a {
    text-decoration: none;
    color: #737791;
    font-size: 15px;

}

.nav-item a:hover,
.cl {
    color: white;
}

#opned li a:hover {
    background-color: #5D5FEF;
    color: white;
}
a:active{
    color: white;
}
.img-container {
    height: 30px;
    width: 30px;
    background-color: #5D5FEF;
}

.search-bar {
    background-color: #F9FAFB;
    border-radius: 8px;
    padding: 2px;
}.accordion-button::after,.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.dropdown-toggle::after{
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    background-repeat: no-repeat;
    width: 20px;
    border: 0!important;
    margin-left: 20px;
    margin-top: 8px;
}
.dot {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    top: 6px;
    right: 6px;
}


.nav-item:hover,
.cl {
    background-color: #5D5FEF;
}


.img-container {
    height: 56px;
    width: 56px;
    background: #5D5FEF;
    border-radius: 8px;
}

.log-name {
    font-size: 30px;
    color: #151D48;
}

#topbar {
    background: #FFFFFF;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;

}

#content {
    padding-left: 0px !important;
}

#main-content {
    /* height: 100vh; */
    background-color:
        rgba(248, 249, 250, 1);
}

ul {
    list-style: none;
}

/* li:hover,li:focus,a:hover,.cl{
    background-color: #5D5FEF;
    border-radius: 8px;
    color: white;
    font-weight: 600;
} */
.accordion-button,
.accordion-button:not(.collapsed) {
    background-color: #5D5FEF;
}

a:link {
    text-decoration: none;
}

button:hover {
    background-color: #5D5FEF !important;
    color: white !important;
}

#main-product-btn1 {
    background-color: #5D5FEF;
    color: white;
}

#todays_sale {
    background: rgba(255, 255, 255, 1);
    border: 1px solid #F8F9FA;
    box-shadow: 0px 4px 20px 0px #EEEEEE80;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(5, 0, 78, 1);

}

.btn {
    width: fit-content;
    height: fit-content;
    border: 1px solid rgba(195, 211, 226, 1)
}

.desci {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(115, 119, 145, 1);

}

#logo:hover {
    background-color: transparent;
}

#product2 {
    display: none;
}

.today_sale_card {
    width: 180px;
    height: 184px;
    border-radius: 16px;
    background: rgba(255, 226, 229, 1);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
}
.border-5{
    border-width: 0.5rem!important;
}
.today_sale_card_price {
    font-size: 24px;
    line-height: 32px;
    color: rgba(21, 29, 72, 1);

}

.today_sale_card_details {
    font-size: 16px;
    line-height: 24px;
    color: rgba(66, 81, 102, 1);

}

.card_yesterday {
    font-size: 16px;
    line-height: 20px;
    color: rgba(64, 121, 237, 1);

}

#today-sale-card2 img {
    background-color: rgba(255, 148, 122, 1);
    border-radius: 50%;
}

#today-sale-card2 {
    background-color: rgba(255, 244, 222, 1);
}

#today-sale-card3 {
    background-color: rgba(220, 252, 231, 1);
}

#today-sale-card4 {
    background-color: rgba(243, 232, 255, 1);

}

#visitor,
#visitor-list,
#top-product,
#main-product,
#sales-contry,
#volume {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(248, 249, 250, 1);
    border-radius: 16px;
}
thead {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: start;
    color: #96A5B8;
}

tbody {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: start;
    color: #444A6D;

}

td button {
    width: 50px;
    height: 24px;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    border: 1px solid;
    border-radius: 4px;
}

#btn2 {
    color: rgba(0, 229, 143, 1);
    border-color: rgba(0, 229, 143, 1);

    background: rgba(240, 253, 244, 1);
}

#btn1 {
    color: rgba(0, 149, 255, 1);
    border-color: rgba(0, 149, 255, 1);
    background-color: lue/50 rgba(240, 249, 255, 1);
}

#btn3 {
    color:
        rgba(136, 77, 255, 1);
    border-color: rgba(136, 77, 255, 1);
    background-color: rgba(251, 241, 255, 1);
}

#btn4 {
    color:
        rgba(255, 137, 0, 1);
    border-color:
        rgba(255, 137, 0, 1);
    background-color:
        rgba(254, 246, 230, 1);
}

#measur1,
#measur2,
#measur3,
#measur4 {
    width: 180px;
    height: 4px;
    border-radius: 8px;
}

#measur1 {
    background: rgba(205, 231, 255, 1);

}

#measur2 {
    background: rgba(140, 250, 199, 1);

}

#measur3 {
    background: rgba(197, 168, 255, 1);

}

#measur4 {
    background: rgba(255, 213, 164, 1);

}

#show-measur1 {
    width: 90%;
    height: 100%;
    background: rgba(0, 149, 255, 1);
    border-radius: 8px;
}

#show-measur2 {
    width: 85%;
    height: 100%;
    background: rgba(0, 224, 150, 1);
    border-radius: 8px;
}

#show-measur3 {
    width: 80%;
    height: 100%;
    background: rgba(136, 77, 255, 1);
    border-radius: 8px;
}

#show-measur4 {
    width: 50%;
    height: 100%;
    background: rgba(255, 143, 13, 1);
    border-radius: 8px;
    border: 0px;
}

.main-product-btn {
    border-color: transparent;
    background-color: transparent;
    border-radius: 0px;
    margin: 0;
    padding: 10px;

}

.main-product-btn:active {
    background-color:
        rgba(93, 95, 239, 1);
}

.volum-meter {
    width: 12px;
    background: rgba(0, 149, 255, 1);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#volum-meter1 {
    height: 138.86px;
}

#volum-meter2 {
    height: 168px;
}

#volum-meter3 {
    height: 138.86px;
}

#volum-meter4 {
    height: 125px;
}

#volum-meter5 {
    height: 96px;
}

#volum-meter6 {
    height: 104.57px;
}

.service-meter {
    width: 100%;
    border-radius: 2px;
    background: rgba(0, 224, 150, 1);
}

#service-meter1 {
    height: 50%;
}

#service-meter2 {
    height: 50%;
}

#service-meter3 {
    height: 10%;
}

#service-meter4 {
    height: 10%;
}

#service-meter5 {
    height: 10%;
}

#service-meter6 {
    height: 50%;
}

#volume,
#sales-contry,
#main-product,
#top-product,
#visitor-list,
#visitor,
#todays_sale {
    border-color: rgba(248, 249, 250, 1) !important;
}

@media screen and (max-width:1270px) {

    #adver {
        font-size: smaller;
    }
}

@media screen and (min-width:1450px) {
    .card-title {
        font-size: 22px;
    }

    .desci {
        font-size: 18px;
    }

    thead,
    tbody,
    td button {
        font-size: 18px;
    }
}

@media screen and (max-width:491px) {
    #opned {
        left: 1px !important;
        right: 0px !important;
    }
}